<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default Suite" guice-stage="DEVELOPMENT">
  <test thread-count="5" name="InterimProject">
    <classes>
      <class name="test.NavigationTest"/>
    </classes>
  </test> <!-- InterimProject -->
</suite> <!-- Default Suite -->
